.control-button{
    width:100%;
    height:100%;
    padding-top: 50%;
    padding-bottom: 50%;
}

.control-container{
    padding-top: 12%;
}

.glyphicon-control{
    width:100%;
    height:100%;
}

#info-text{

}